Repository psaia/sumologic-kubernetes-collection: changes, and which Drone steps are due for each by the changed paths.
All: default, dev, prd

default:
  steps:
  - name: no-op
    image: alpine:latest
    commands:
    - echo "Looks good!"

dev:
  steps:
  - name: format
    image: hashicorp/terraform:0.12.26
    commands:
    - terraform fmt -write=false -list -diff -check -recursive terraform
  - name: plan
    image: jmccann/drone-terraform:6.3-0.12.20
    settings:
      tf_version: 0.12.26
      root_dir: terraform
      actions:
      - validate
      - plan
  ...

prd:
  steps:
  - name: plan
    image: jmccann/drone-terraform:6.3-0.12.20
    settings:
      tf_version: 0.12.26
      root_dir: terraform
      actions:
      - validate
      - plan
      init_options:
        lock-timeout: 5m
        backend-config:
        - bucket=remote-state
        - prefix=nytimes/dv-sumologic
  ...

Add sumo- prefix to roles (#45)
  modules/role/main.tf
Due: dev, prd

Add tool for syncing AD groups (#38)
  tools/ad-syncer/ad/ad.go
  tools/ad-syncer/ad/helper.go
  tools/ad-syncer/go.mod
  tools/ad-syncer/go.sum
  tools/ad-syncer/main.go
  tools/ad-syncer/parser/parse.go
  tools/ad-syncer/types/role.go
Due: default

Normalize filter predicate and add double quote in tf-import script (#46)
  terraform/ATT-role.tf
  terraform/Aristo-role.tf
  terraform/Blogs-role.tf
  terraform/CMOTS-role.tf
  terraform/CMS-role.tf
  terraform/CustomerCare-role.tf
  terraform/Customer_Service-role.tf
  terraform/DSE-role.tf
  terraform/Dist-role.tf
  terraform/ECOMM-role.tf
  terraform/MobileWeb-role.tf
  terraform/Network-role.tf
  terraform/Paperboy-role.tf
  terraform/Pubsys-role.tf
  terraform/Search-role.tf
  terraform/Storage-role.tf
  terraform/Twistlock-role.tf
  terraform/Vault-role.tf
  terraform/Video-role.tf
  terraform/WWW-role.tf
  terraform/advertising-role.tf
  terraform/eus-workstation-role.tf
  terraform/fastly-role.tf
  terraform/nytco-role.tf
  terraform/tcen-role.tf
  tools/get-existing-sumologic-resources/tf-import.sh
Due: default, dev, prd

Update WWW-role.tf (#49)
  terraform/WWW-role.tf
  terraform/eus-workstation-role.tf
Due: dev, prd

Update sync tool to support adding/removing individuals (#48)
  tools/ad-syncer/ad/ad.go
  tools/ad-syncer/ad/helper.go
  tools/ad-syncer/main.go
  tools/adutil/ad/ad.go
  tools/adutil/ad/helper.go
  tools/adutil/go.mod
  tools/adutil/go.sum
  tools/adutil/main.go
  tools/adutil/parser/parse.go
  tools/adutil/types/role.go
Due: default

Disable resources in AD until we cna fix LDAP connections to AD (#53)
  modules/role/main.tf
Due: dev, prd

Adding invoice service collector info (#50)
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

Include last clause in filter_pred (#47)
  terraform/ATT-role.tf
  terraform/Auth-role.tf
  terraform/CMOTS-role.tf
  terraform/CMS-role.tf
  terraform/CustomerCare-role.tf
  terraform/Customer_Service-role.tf
  terraform/Dist-role.tf
  terraform/ECOMM-role.tf
  terraform/MSSP-role.tf
  terraform/Myaccount_Fastly_Logs-role.tf
  terraform/PPI-role.tf
  terraform/Samizdat-role.tf
  terraform/Shared_Cluster_DEV-role.tf
  terraform/Storage-role.tf
  terraform/Tips_Jar-role.tf
  terraform/Twistlock-role.tf
  terraform/Vault-role.tf
  terraform/Video-role.tf
  terraform/WWW-role.tf
  terraform/Windows-role.tf
  terraform/WindowsDC-role.tf
  terraform/advertising-role.tf
  terraform/eus-workstation-role.tf
  terraform/fastly-role.tf
  terraform/nytco-role.tf
  terraform/tcen-role.tf
Due: dev, prd

Fix the slack steps (#56)
  .drone.yml
Due: default

Add a collector nytimes/dv-sumologic (#55)
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

Add Drone commands for updating AD group membership (#60)
  .drone.yml
  tools/adutil/main.go
Due: default

no dev output (#61)
  .drone.yml
Due: default

Include changes to roles that were made in ui (#64)
  terraform/WindowsDC-role.tf
Due: dev, prd

Add FTP collectors (#63)
  terraform/collectors.tf
Due: dev, prd

Update Storage-role.tf (#67)
  terraform/Storage-role.tf
Due: dev, prd

Update Storage-role.tf (#68)
  terraform/Storage-role.tf
Due: dev, prd

Change bool strings to bools (#66)
  terraform/existing-collectors-and-sources.tf
Due: dev, prd

Update .drone.yml (#69)
  .drone.yml
Due: default

Add feature flag for enabling AD (#62)
  modules/collector/main.tf
  modules/collector/variables.tf
  modules/role/main.tf
  modules/role/variables.tf
Due: dev, prd

Enable ad for dv-sumologic role (#71)
  terraform/collectors.tf
Due: dev, prd

Use single domain controller for AD actions (#73)
  .drone.yml
Due: default

Update Samizdat-role.tf (#70)
  terraform/Samizdat-role.tf
Due: dev, prd

Delete ad group (#72)
  modules/role/variables.tf
  terraform/collectors.tf
Due: dev, prd

Add collectors and sources that haven't been added to terraform (#65)
  terraform/existing-collectors-and-sources.tf
Due: dev, prd

Enable ad feature flag (#74)
  modules/collector/variables.tf
  modules/role/variables.tf
  terraform/collectors.tf
Due: dev, prd

Trigger a test of deleting AD roles (#75)
  modules/collector/variables.tf
  modules/role/variables.tf
Due: dev, prd

Remove flag to enable AD for groups creation (#76)
  modules/collector/main.tf
  modules/collector/variables.tf
  modules/role/main.tf
  modules/role/variables.tf
Due: dev, prd

Update default-roles.tf (#78)
  terraform/default-roles.tf
Due: dev, prd

Add ADR about why we chose to connect to a single AD controller (#79)
  doc/adr/0007-use-single-ad-controller.md
Due: default

remove unused package (#81)
  tools/adutil/main.go
Due: default

Remove AD Group for Guest (#80)
  terraform/Guest-role.tf
Due: dev, prd

Update existing roles and users (#82)
  tools/get-existing-sumologic-resources/existing-roles-and-users.json
Due: default

Add an admins group (#83)
  terraform/admin.tf
Due: dev, prd

Update admin.tf (#84)
  terraform/admin.tf
Due: dev, prd

Add int-fallback role (#86)
  terraform/int-fallback-role.tf
Due: dev, prd

Path conditions:
  default: any file but: modules/**, terraform/*
  dev: any of: modules/**, terraform/*
  prd: any of: modules/**, terraform/*
