Repository psaia/sumologic-kubernetes-collection: changes, and which Drone steps are due for each by the changed paths.
All: default, dev, prd

default:
  steps:
  - name: no-op
    image: alpine:latest
    commands:
    - echo "Looks good!"

dev:
  steps:
  - name: format
    image: hashicorp/terraform:0.12.26
    commands:
    - terraform fmt -write=false -list -diff -check -recursive terraform
  - name: no-output
    image: alpine:latest
    commands:
    - echo "Removing output file..."
    - rm terraform/output.tf
  - name: plan
  ...

prd:
  steps:
  - name: plan
    image: jmccann/drone-terraform:6.3-0.12.20
    settings:
      tf_version: 0.12.26
      root_dir: terraform
      actions:
      - validate
      - plan
      init_options:
        lock-timeout: 5m
        backend-config:
        - bucket=remote-state
        - prefix=nytimes/dv-sumologic
  ...

Add prefix to admin (#85)
  tools/get-existing-sumologic-resources/existing-roles-and-users.json
Due: default

Add sumologic to new itunes third party service (#88)
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

Update existing-roles-and-users.json (#89)
  tools/get-existing-sumologic-resources/existing-roles-and-users.json
Due: default

Add Rita to the security group (#87)
  tools/get-existing-sumologic-resources/existing-roles-and-users.json
Due: default

add deployment vars (#91)
  .drone.yml
Due: default

Fix default role for admins (#92)
  terraform/default-roles.tf
Due: dev, prd

Add observability to the codeowners (#93)
  CODEOWNERS
Due: default

Add filter for the admin role (#96)
  terraform/admin.tf
  terraform/default-roles.tf
Due: dev, prd

Update security team's filter (#99)
  terraform/Security-role.tf
Due: dev, prd

PUBP-8182: provision elections collector (#98)
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

Add logging for AD parameters (#95)
  .drone.yml
Due: default

added collector for nytm/dv-drone in TF (#100)
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

Adding collector for spg-inyt-subscription-api (#101)
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

remove 'manageIndexes' from samizdat role (#102)
  terraform/Samizdat-role.tf
Due: dev, prd

Add ADR regarding AD groups and nesting (#12)
  doc/adr/0008-controlling-role-access-through-ad.md
Due: default

Feature/add collector int fallback role (#104)
  terraform/int-fallback-role.tf
Due: dev, prd

DV-6750: Create SumoSource Category for PrintSiteManagementService (#105)
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

add new collectors to ecomm role (#106)
  terraform/ECOMM-role.tf
Due: dev, prd

Instructions for using the adutil (#97)
  tools/adutil/README.md
Due: default

Add ADR regarding team role management update (#103)
  doc/adr/0008-controlling-role-access-through-ad.md
  doc/adr/0009-team-role-provisioning-and-management.md
Due: default

add new collector for fastly-myaccount (#107)
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

add adr 10 (#109)
  doc/adr/0010-allow-users-to-request-access-to-teams-via-bytes-workflows.md
Due: default

Remove shared cluster collectors, sources, and roles (#110)
  terraform/Shared_Cluster_DEV-role.tf
  terraform/existing-collectors-and-sources.tf
Due: dev, prd

Update README.md (#111)
  README.md
Due: default

create new collector for subinfo app (#112)
  terraform/ECOMM-role.tf
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

PFLW-372 payflow waf (#113)
  terraform/ECOMM-role.tf
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

Add create access keys capability to admin role (#114)
  terraform/admin.tf
Due: dev, prd

Add nytimes-spg-settlements as sumo sourceCategory (#118)
  terraform/ECOMM-role.tf
  terraform/collectors.tf
  terraform/output.tf
Due: dev, prd

Remove the output file from the terraform run (#119)
  .drone.yml
  terraform/output.tf
Due: default, dev, prd

Fix test account roles (#121)
  terraform/melcone.txt
Due: dev, prd

Comment out test pipeline (#124)
  .drone.yml
Due: default

Uncomment test pipeline (#125)
  .drone.yml
Due: default

Remove dummy file (#123)
  terraform/melcone.txt
Due: dev, prd

Add collectors for Aristo (#122)
  terraform/collectors.tf
Due: dev, prd

Add Liz as manager of the Security team (#128)
  terraform/Security-role.tf
Due: dev, prd

adding role for infra services team (#127)
  terraform/infra-services-role.tf
Due: dev, prd

Add group manager option to the role module (#129)
  modules/role/main.tf
  modules/role/variables.tf
Due: dev, prd

Path conditions:
  default: any file but: modules/**, terraform/*
  dev: any of: modules/**, terraform/*
  prd: any of: modules/**, terraform/*
